<div id="<%= dom_id list %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= list.name %> - <%= list.kind_name %>
    </strong>
    
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Productos:</strong>
    <%= turbo_frame_tag "list-products" do %>
      <div class="current-products">
        <ul>
          <% if @list.present? %>
            <% @list.products.each do |product| %>
            <li><%= product.name %> <%= link_to "Remove", remove_product_lists_path(id: @list.id, product_id: product.id), data: { "turbo-method": :delete } %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <%# if false %>
        <h2>Remaining products</h2>
        <div class="remaining-products">
          <ul>
            <% if @list.present? %>
              <% (@products - @list.products).each do |product| %>
                <li><%= product.name %> <%= link_to "Add", add_product_lists_path(id: @list.id, product_id: product.id), data: { "turbo-method": :post } %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <%# end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this list", list, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this list", edit_list_path(list), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
